html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
 ul {
  list-style: none;
  margin: 0;
  padding: 0;
 }

 input[type='range'] {
  overflow: hidden;
  width: 448px;
  -webkit-appearance: none;
  background-color: #BAF1FF;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 33px;
  -webkit-appearance: none;
  color: #BE69D5;
  margin-top: 0px;
}

input[type='range']::-webkit-slider-thumb {
  border-radius: 100%;
  width: 33px;
  -webkit-appearance: none;
  height: 33px;
  cursor: ew-resize;
  background: #302594;
  box-shadow: -448px 0 44px 448px #BE69D5;
}

 /* add fonts from WOFF */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

body {
  background: linear-gradient(113deg, #3625af 0%, #693ebd 36%, #c46bd5 100%);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.header {
  display: inline-flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-flow: row nowrap;
  font-family: 'inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  padding-inline: 250px;
}

.btn__call {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: #302594;
  border: 0;
  border-radius: 4px;
  width: 246px; 
  height: 60px;
}

.topnav {
  background-color: transparent;
  overflow: hidden;
  padding-left: 151px;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.active {
  background-color: #4caf50;
  color: white;
}
.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-family: 'inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 18px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #5C39BA;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
  color: rgb(255, 255, 255);
}

.dropdown-content a:hover {
  border-radius: 18px;
  color: rgb(20, 93, 202);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.top__info {
  position: fixed;
  top: 184px;
  left: 398px;
  width: 570;
  height: 234;
  color: #ffffff;
}

.top__info__child1 {
  font-size: 55px;
  font-weight: 900;
  margin: 0px;
  padding: 0px;
}

.top__info__child2 {
  font-size: 24;
  font-weight: 400;
}

.advantages__List {
  position: fixed;
  top: 478px;
  left: 398px;
  width: 447;
  height: 110;
}

.room__img {
  position: fixed;
  top: 141px;
  left: 1175px;
}

.form__math {
  width: 508px;
  height: 471px;
  background-color: #ffffff;
  position: fixed;
  top: 184px;
  left: 1014px;
  border-radius: 10px;
}

.form__math__price {
  padding-top: 30px;
  padding-left: 30px;
  font-family: "roboto", sans-serif;
  font-weight: 600;
  font-size: 25px;
}

.form__math__price__space {
  padding-top: 0px;
  padding-left: 29px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.advantages__List{
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}